{% extends 'base.html' %}
<!--load humanize  -->
{% load humanize %}
<!-- tab title-->
 {% block title %} | Welcome{% endblock %}
<!--index main content-->
    
    {%block content %}
    <!-- Showcase -->
    <section id="showcase">
      <div class="container text-center">
        <div class="home-search p-6">
          <div class="overlay p-6">
            <h1 class="display-6 mb-3">Property Search</h1>
            <p></p>
            {% comment %} <p class="lead">
              Our advanced search lets you filter by location, price range, bedrooms, and more. 
            </p> {% endcomment %}
            <div class="search">
              {%comment%} html {%endcomment%}
              <form action="{% url 'listings:search' %}" method="GET">
                <!-- Form Row 1 -->
                <div class="form-row">
                  <div class="col-md-12 mb-3">
                    <label class="sr-only">Keywords</label>
                    <input
                      type="text"
                      name="keywords"
                      class="form-control"
                      placeholder="Keyword (Property, Salesperson, etc)"
                    />
                  </div>
                </div>


                
                <!-- Form Row 2 -->
                 
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label class="sr-only">District</label>
                    <select name="district" class="form-control">
                      <option selected="true" disabled="disabled">
                        District (All)
                      </option>
                      {% for key,value in district_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                      {% endfor %}

                    </select>
                  </div>
                  
                  <div class="col-md-4 mb-3">
                  <select name="rooms_range" class="form-control">
                    <option value="">Rooms (All)</option>
                    {% for key,value in rooms_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                  </div>
                  
                  
                  
                  
                  <div class="col-md-4 mb-3">
                    
                  <select name="price_range" class="form-control">
                    <option value="" >Price Range (All)</option>
                    {% for key, value in price_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                  </div>

                  <div class="col-md-4 mb-3">

    <select name="area_range" class="form-control">
  <option value="" {% if not values.area_range %} selected {% endif %}>
    Area (All)
  </option>
  {% for key, value in area_choices.items %}
    <option value="{{ key }}" {% if values.area_range == key %} selected {% endif %}>
      {{ value }}
    </option>
  {% endfor %}
</select>
    
  </div>
      <div class="col-md-4 mb-3">
                    
                    
      <select id="property_age_range" name="property_age_range" class="form-control">
    <option value="" {% if not values.property_age_range %} selected {% endif %}>
      Property Age (All)
    </option>
    {% for key, value in property_age_choices.items %}
      <option value="{{ key }}" >{{ value }}</option>
    {% endfor %}
  </select>

                  </div>

                  <div class="col-md-4 mb-3">
      <select name="status" class="form-control">
        <option value="" {% if not values.status %} selected {% endif %}>Status (All)</option>
        {% for key,value in status_choices.items %}
        <option value="{{ key }}" {% if values.status == key %} selected {% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
                </div>
                <button class="btn btn-warning btn-block mt-3" type="submit">
                  Submit form
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Listings -->
    <section id="listings" class="py-2">
      <div class="container">
        {% comment %} <h3 class="text-center mb-2">property services</h3> {% endcomment %}
        <div class="row">
          {% if listings %}
          <!-- Listing 1 -->
           {% for listing in listings %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img
                class="card-img-top"
                {%comment%} img {%endcomment%}
                src="{{ listing.photo_main.url }}"
                alt=""
              />
              <div class="card-img-overlay">
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{listing.title}}</h4>
                  <p>
                    <i class="fas fa-map-marker text-warning"></i>{{listing.district}}
                  </p>
                </div>
                <hr />
                <div class="row py-2 text-warning">
                  <div class="col-6">
                    {% comment %} <i class="fas fa-th-large"></i> Services {{listing.service | apnumber | capfirst}} {% endcomment %}
                  </div>
                  <div class="col-6">
                    {% comment %} <i class="fas fa-dumbbell"></i> Treatment  {% endcomment %}
                  </div>
                </div>
                <div class="row py-2 text-warning">
                  <div class="col-6">
                    {% comment %} <i class="fas fa-bed"></i>  Rooms {{listing.rooms }} {% endcomment %}
                  </div>
                  <div class="col-6">
                    {% comment %} <i class="fas fa-bath"></i> Bathrooms {% endcomment %}
                  </div>
                </div>
                <hr />
                <div class="row py-2 text-warning">
                  <div class="col-12"><i class="fas fa-user"></i> {{listing.salesperson.name}}</div>
                </div>
                <div class="row text-warning pb-2">
                  <div class="col-12">
                    <i class="fas fa-clock"></i> {{listing.list_date | timesince}}
                  </div>
                </div>
                <hr />
                {%comment%} html {%endcomment%}
                <a 
                  href="{% url 'listings:listing' listing.id %}"
                  class="btn btn-warning btn-block"
                  >More Info</a>
                
              </div>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <div class="col-md12">
            <h2>No Properties Available</h2>
          </div>
          {% endif %}

        </div>
      </div>
    </section>

    <section id="services" class="py-5 bg-secondary text-white">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4">
            <i class="fas fa-comment fa-4x mr-4"></i>
            <hr />
            <h3>Property Consulting Services</h3>
            <p>

            </p>
          </div>
          <div class="col-md-4">
            <i class="fas fa-home fa-4x mr-4"></i>
            <hr />
            <h3>Property Services</h3>
            <p>

            </p>
          </div>
          <div class="col-md-4">
            <i class="fas fa-suitcase fa-4x mr-4"></i>
            <hr />
            <h3>Primary Rental Package</h3>
            <p>

            </p>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}
  
