#header {
    height: 50px;
    background: #2d4363;
    color : #fff;
}
#branding h1 {
    color : #fff;
}
a:link, 
a:visited {

    color : #2d4363;
}
div.breadcrumbs {
    background : #ffe8a1;
    color : #2d4363;
}
div.breadcrumbs a {
    color : #333;
}
.module h2, 
.module caption, linlinegroup h2 {
    background : #ffe8a1;
}
.button, input[type="submit"], input[type="button"], .submit-row input, a.button {
    background : #2d4363;
    color : #333;
}
.brands {
    margin-left : 15px;
}
